name: Windows Build

on:
  workflow_dispatch:
  push:
    branches: [ "main", "master", "ci-test", "feature" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install w64devkit
        run: |
          echo "Downloading w64devkit..."
          (New-Object System.Net.WebClient).DownloadFile("https://github.com/skeeto/w64devkit/releases/download/v2.5.0/w64devkit-x64-2.5.0.7z.exe", "w64devkit.exe")
          echo "Downloaded w64devkit."
          echo "Unpacking w64devkit..."
          ./w64devkit.exe -y -o"w64"
          echo "Installed w64devkit."

      - name: Check Mingw Installation
        run: |
          $myPaths = "$pwd\w64\w64devkit\bin"
          $env:Path = "$myPaths;$env:Path"
          echo "===================Mingw version=================="
          where gcc
          gcc --version
      
      - name: Check Python Environment
        run: |
          python --version
          pip --version

      - name: Install aqtinstall
        run: pip install aqtinstall

      - name: Install Qt6
        run: |
          python -m aqt install-qt windows desktop 6.10.2 win64_mingw -m qtcharts qtserialport
      
      - name: Check Qt6 Installation
        run: |
          $myPaths = "$pwd\6.10.2\mingw_64\bin;$pwd\w64\w64devkit\bin"
          $env:Path = "$myPaths;$env:Path"
          echo "=====================Qmake version==================="
          qmake.exe -v

      - name: Build Application
        run: |
          $myPaths = "$pwd\6.10.2\mingw_64\bin;$pwd\w64\w64devkit\bin"
          $env:Path = "$myPaths;$env:Path"
          qmake.exe cangaroo.pro
          dir
          mingw32-make -j $env:NUMBER_OF_PROCESSORS

      - name: Run windeployqt
        run: |
          $myPaths = "$pwd\6.10.2\mingw_64\bin;$pwd\w64\w64devkit\bin"
          $env:Path = "$myPaths;$env:Path"
          windeployqt --release --no-translations bin/cangaroo.exe

      - name: Build Installer with Inno Setup
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.7
        with:
          path: install/cangaroo_installer.iss
          options: /O+

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: CANgaroo-Installer-Windows
          path: install/Output/*.exe
